<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ui-sref="home">Home</a></li>
    <li><a ui-sref="studentdata">All Student Data</a></li>
    <li><a ui-sref="students">Students</a></li>

  </ul>
  <h3 class="text-muted">GradeUp Tutoring Database</h3>
</div>

<div class="jumbotron">
      <h1>Tutoring Database</h1>
        <!--need a dropdown list here of students-->
    <!--    use an ng-select directive in order to build dropdown-->
        <select ng-model="selectedStudent">
  <option>Students</option>
  <option id="greet" ng-selected="selected" ng-repeat="(id, student) in students" value="{{id}}">{{student.name}}</option>
            
</select>
      <div>
        default mileage:<input type="text" ng-model="students[selectedStudent].default_mileage"/>
        </div>
        <div>
        default duration:<input type="text" ng-model="students[selectedStudent].default_duration"/>
        </div>
        <div>
        default payment:<input type="text" ng-model="students[selectedStudent].default_payment"/>
        </div>
        <div>
        date of session:<input type="text" ng-model="students[selectedStudent].session_date"/>
        </div>
    <!--ng-click function-->
      <p><a class="btn btn-lg btn-success" ng-href="#" ng-click="addSession()">Add Session</a></p>
    </div>