    <div class="jumbotron">
      <h1>Tutoring Database</h1>
        <input id="student" type="text"/>
        <p>Select Student</p>
        <!--need a dropdown list here of students-->
    <!--    use an ng-select directive in order to build dropdown-->
      <p class="lead">
        <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
        <!--Always a pleasure scaffolding your apps.-->
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="#">Add Session</a></p>
    <!--
        onload function hit up parse GET https://api.parse.com/1/classes/Students
        on success it should load up all the students
    -->
    </div>