<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ui-sref="home">App Home</a></li>
    <li><a ui-sref="studentdata">All Student Data</a></li>

  </ul>
  <h3 class="text-muted">Tutoring Database</h3>
</div>

<div class="jumbotron">
      <h2>GradeUp Tutoring Database</h2>
        <!--dropdown list of students-->
    <!--    ng-select directive used to build dropdown-->
        <select ng-model="selectedStudent">
  <option>Students</option>
  <option id="greet" ng-selected="selected" ng-repeat="(id, student) in students" value="{{id}}">{{student.name}}</option>
            
</select>
    <div ng-show="selectedStudent">
      <div>
        date of session:<input ui-date  ng-model="students[selectedStudent].session_date"/>
        </div>
      <div>
        default duration:<input type="text" ng-model="students[selectedStudent].default_duration"/>
        </div>
      <div>
        default mileage:<input type="text" ng-model="students[selectedStudent].default_mileage"/>
        </div>
        <div>
        default payment:<input type="text" ng-model="students[selectedStudent].default_payment"/>
        </div>
        <div>
        paid:<input type="text" ng-model="students[selectedStudent].paid"/>
        </div>
    <!--ng-click function-->
      <p><a class="btn btn-lg btn-success" ng-href="#" ng-click="addSession()">Add Session</a></p>
    </div>
    </div>