<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ui-sref="home">App Home</a></li>
    <li><a ui-sref="studentdata">All Student Data</a></li>

  </ul>
  <h3 class="text-muted">GradeUp Tutoring Database</h3>
</div>

<h1>
    <center>Student Data</center>
</h1>

<div ng-repeat="student in students">
    <h2>{{student.name}}'s Sessions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Date of Session</td>
                <td>Duration</td>
                <td>Mileage</td>
                <td>Payment</td>
                <td>Paid?</td>
            </tr>
<!--
            <tr>
                <td>Total</td>
            </tr>
-->
        </thead>
        <tr ng-repeat="session in student.sessions">
            <td>{{session.date}}</td>
            <td>{{session.duration}}</td>
            <td>{{session.mileage}}</td>
            <td>{{session.payment}}</td>
            <td>{{session.paid}}</td>
        </tr>
        
        <tfoot>
            <tr>
                <td><strong>TOTALS</strong></td>
                <td>Duration Total</td>
                <td>Mileage Total</td>
                <td>Payment Total</td>
                <td>Empty</td>
            </tr>
        </tfoot>
    </table>
</div>


<!--<li ng-repeat="team in teams">-->
<!--        <a ui-sref="getStudents({objectId: team.id})">{{ team.name }}</a>-->